{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %} Community {% endblock %}


{% block layout %}
<section class="game-list-section my-4">
  <h2 class="mb-3">Games</h2>

  <!-- Trigger button -->
<a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addGameModal">
  Add Game
</a>

  <ol class="list-unstyled">
{% for game in games %}
    {% include "content/includes/game_item.html" %} {% comment %} for ajax {% endcomment %}
  {% empty %}
    <p class="text-muted">No games yet.</p>
  {% endfor %}
  </ol>
</section>
{% include "content/add_game.html" %}
{% endblock %}
