/* RIGHT PANEL Moderator List */
/* Moderators Section */
.moderators-section .moderator-link {
  font-size: 0.9rem;
  color: #212529; /* bootstrap text-dark default */
  text-decoration: none;
}

.moderators-section .moderator-link:hover {
  color: #e0e0e0; /* Bootstrap primary blue */
  font-weight: normal; /* no bold effect */
}

.moderators-section li {
  padding: 4px 6px;
  border-radius: 6px;
}

.moderators-section li:hover {
  background-color: #e0e0e0; /* light gray background highlight */
}