{% load static %}


<!-- Reply link -->
        <a href="javascript:void(0);" class="text-decoration-none small" 
          onclick="toggleReplyForm({{ comment.id }})">Reply</a>

        <!-- Hidden reply form -->
        <div id="reply-form-{{ comment.id }}" class="mt-2 reply-form" style="display:none;">
          <form method="post" action="{% url 'content:add-comment' topic.slug comment.id %}">
            {% csrf_token %}
            <div class="d-flex align-items-start">
              <img src="{{ request.user.avatar }}" alt="avatar" 
                  class="rounded-circle me-2" width="32" height="32">
              <div class="flex-grow-1">
            
                <textarea name="text" class="form-control border rounded-3 p-2" placeholder="Write a reply..." required></textarea>
                
                <div class="d-flex justify-content-end mt-2">
                  <button type="submit" class="btn btn-primary btn-sm px-3">
                    Reply
                  </button>
                </div>
              </div>
            </div>
            </form>
          </div>