/* topic list hover effect */
.topics-list .card {
    cursor: pointer;
  }

.topics-list .card:hover {
    background-color: #f8f9fa; /* subtle background highlight */
 }

/* topicdetail Author name link */
.author-name-link {
  color: #212529;       /* dark font */
  text-decoration: none;
}

.author-name-link:hover {
  color: #000;          /* darker on hover */
  text-decoration: underline;
}

/* Create Topic Button */
.create-topic-btn {
  background-color: #f8f9fa; /* light gray background */
  color: #495057; /* dark gray text */
  border: 1px solid #dee2e6;
  box-shadow: none;
  transition: none; /* remove animations */
}

.create-topic-btn:hover {
  background-color: #e9ecef; /* slightly darker gray on hover */
  color: #212529; /* darker text */
  text-decoration: none;
}